In [36]:
import pandas as pd 

df = pd.read_csv('/Users/parth/coding/python/sportly/stats/tennis_atp/singles/atp_matches_net.csv')
df

,Unnamed: 0.1,Unnamed: 0,tourney_name,surface,draw_size,tourney_level,winner_seed,winner_entry,winner_name,winner_hand,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,0,Dublin,Grass,32.0,A,NaN,NaN,Doug Smith,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Dublin,Grass,32.0,A,NaN,NaN,Louis Pretorius,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,Dublin,Grass,32.0,A,NaN,NaN,Cecil Pedlow,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,Dublin,Grass,32.0,A,NaN,NaN,Tom Okker,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,Dublin,Grass,32.0,A,NaN,NaN,Armistead Neely,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,194991,194991,Davis Cup WG2 PO: URU vs MDA,Clay,4.0,D,NaN,NaN,Joaquin Aguilar Cardozo,U,...,30.0,17.0,7.0,6.0,8.0,14.0,1109.0,8.0,740.0,34.0
194992,194992,194992,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Nam Hoang Ly,R,...,41.0,25.0,6.0,9.0,1.0,4.0,554.0,67.0,748.0,32.0
194993,194993,194993,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Kris Van Wyk,R,...,51.0,25.0,7.0,11.0,5.0,12.0,416.0,109.0,NaN,NaN
194994,194994,194994,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Nam Hoang Ly,R,...,51.0,32.0,17.0,14.0,5.0,9.0,554.0,67.0,416.0,109.0
194995,194995,194995,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,NaN,NaN,Philip Henning,R,...,53.0,25.0,8.0,8.0,9.0,14.0,748.0,32.0,NaN,NaN

In [37]:
df = df.drop(['winner_name','loser_name'],axis='columns')
df.head()

,Unnamed: 0.1,Unnamed: 0,tourney_name,surface,draw_size,tourney_level,winner_seed,winner_entry,winner_hand,winner_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,0,Dublin,Grass,32.0,A,NaN,NaN,U,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Dublin,Grass,32.0,A,NaN,NaN,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,Dublin,Grass,32.0,A,NaN,NaN,U,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,Dublin,Grass,32.0,A,NaN,NaN,R,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,Dublin,Grass,32.0,A,NaN,NaN,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
str_vals = ['tourney_name', 'surface','tourney_level','winner_hand','winner_ioc','loser_hand','loser_ioc','round']
label_encoder_variables = []
for variable_name in str_vals:
    var_name = "nlabel_" + variable_name
    globals()[var_name] = LabelEncoder()
    label_encoder_variables.append(globals()[var_name])

In [40]:
for i in range(len(str_vals)):
    df[str_vals[i] + "_n"] = label_encoder_variables[i].fit_transform(df[str_vals[i]])

In [41]:
for val in str_vals:
    df = df.drop([val],axis='columns')
df

,Unnamed: 0.1,Unnamed: 0,draw_size,winner_seed,winner_entry,winner_ht,winner_age,loser_seed,loser_entry,loser_ht,...,loser_rank,loser_rank_points,tourney_name_n,surface_n,tourney_level_n,winner_hand_n,winner_ioc_n,loser_hand_n,loser_ioc_n,round_n
0,0,0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3780,2,0,3,5,3,61,6
1,1,1,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3780,2,0,2,98,3,61,6
2,2,2,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3780,2,0,3,54,3,61,6
3,3,3,32.0,NaN,NaN,178.0,24.3,NaN,NaN,NaN,...,NaN,NaN,3780,2,0,2,81,3,145,6
4,4,4,32.0,NaN,NaN,NaN,21.3,NaN,NaN,NaN,...,NaN,NaN,3780,2,0,2,124,3,61,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,194991,194991,4.0,NaN,NaN,NaN,18.8,NaN,NaN,188.0,...,740.0,34.0,3721,1,1,3,123,2,82,8
194992,194992,194992,4.0,NaN,NaN,175.0,26.9,NaN,NaN,NaN,...,748.0,32.0,3722,3,1,2,127,2,109,8
194993,194993,194993,4.0,NaN,NaN,185.0,27.3,NaN,NaN,183.0,...,NaN,NaN,3722,3,1,2,98,2,141,8
194994,194994,194994,4.0,NaN,NaN,175.0,26.9,NaN,NaN,185.0,...,416.0,109.0,3722,3,1,2,127,2,109,8
194995,194995,194995,4.0,NaN,NaN,NaN,23.2,NaN,NaN,183.0,...,NaN,NaN,3722,3,1,2,98,2,141,8